### Descripcion 

El siguiente codigo es para poder transformar los archivos json en csv

In [1]:
import pandas as pd
from glob import glob
import json

## Reading Competitions

In [8]:
competitionsFile = "open-data-master/data/competitions.json"
competitionsFileCsv = "open-data-master/data-csv"

In [9]:
dfCompetitions = pd.read_json(competitionsFile)

In [10]:
dfCompetitions.to_csv(f"{competitionsFileCsv}/competitionsDf.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)

## Reading LineUps

In [3]:
lineupsFiles = "open-data-master/data/lineups/*.json"
lineupsFileCsv = "open-data-master/data-csv"

In [49]:
df_array = []
for f_name in glob(lineupsFiles):
    f = open (f_name, "r")
    df = pd.json_normalize(json.loads(f.read()), 
                            record_path =['lineup'] 
                            #meta=['team_id', 'team_name']
                        )
    df_array.append(df)

In [46]:
df_concat = pd.concat(df_array)

In [44]:
df_concat.to_csv(f"{lineupsFileCsv}/lineupsDf.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)

## Reading Events

In [74]:
eventsFiles = "open-data-master/data/events/*.json"
eventsFileCsv = "open-data-master/data-csv"

In [57]:
df_array = []
for f_name in glob(eventsFiles):
    f = open (f_name, "r")
    df = pd.json_normalize(json.loads(f.read()) 
                            #record_path =['lineup'] 
                            #meta=['team_id', 'team_name']
                        )
    df_array.append(df)

In [59]:
df_concat_events = pd.concat(df_array)

In [ ]:
df_concat_events.to_csv(f"{eventsFileCsv}/eventsDf.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)

## Matches

In [69]:
from glob import iglob

In [75]:
matchesFiles = "open-data-master/data/matches/**/*.json"
matchesFileCsv = "open-data-master/data-csv"

In [79]:
df_array = []
for f_name in iglob(matchesFiles, recursive=True): 
    f = open (f_name, "r")
    df = pd.json_normalize(json.loads(f.read()) 
                            #record_path =['lineup'] 
                            #meta=['team_id', 'team_name']
                        )
    df_array.append(df)

In [80]:
df_concat_matches = pd.concat(df_array)

In [82]:
df_concat_matches.to_csv(f"{matchesFileCsv}/matchesDf.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)

## Three Sixty

In [2]:
threeSixtyFiles = "open-data-master/data/three-sixty/*.json"
threeSixtyFileCsv = "open-data-master/data-csv"

In [3]:
df_array = []
for f_name in glob(threeSixtyFiles):
    f = open (f_name, "r")
    df = pd.json_normalize(json.loads(f.read()) 
                            #record_path =['lineup'] 
                            #meta=['team_id', 'team_name']
                        )
    df_array.append(df)

In [4]:
df_concat_threesixty = pd.concat(df_array)

ValueError: No objects to concatenate

In [90]:
df_concat_threesixty.to_csv(f"{threeSixtyFileCsv}/threeSixtyDf.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)

In [93]:
df_array[0].to_csv(f"{threeSixtyFileCsv}/threeSixtyDf0.csv", sep=",", header=True, doublequote=True, decimal='.', index=False)